@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  background: url(/images/Background.jpg)no-repeat center center/cover;
}

.h1-exp {
  font-weight: 100;
  position: relative;
  top: 1rem;
  margin: 1.5rem;
  color: #55574f;
}

.active {
  border-bottom: rgb(210, 154, 51) 4px solid;
  padding: 1rem;
  color: rgb(210, 154, 51);
}

.btn-nav {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 8px;
  color: white;
  transition: 0.1s;
  background-color: rgb(55, 55, 53);
  cursor: pointer;

}

.btn-nav:hover {
  padding: 0.8rem 1.5rem;
}

.navbar {
  z-index: 555555;
  position: fixed;
  top: 0;
  display: flex;
  height: 4.5rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color: white;
  transition: all 0.3s ease-in-out;
}

.nav-items {
  z-index: 2;
  display: flex;
  transition: all 0.2s ease-in-out;
  gap: 2.5rem;


}

.nav-items a {
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  font-size: 0.9rem;

}

.nav-items a:hover {
  color: rgb(210, 154, 51);
}

#logo {
  z-index: 2;
}

.img-logo {
  height: 4rem;
  z-index: 2;
}

#exp-sec {
  position: relative;
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

.swiper {
  width: 950px;
}

.swiper-wrapper {
  position: relative;
  top: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.card {
  position: relative;
  background: #dab3472b;
  border-radius: 20px;
  height: 450px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

#exp-sec .card .image {
  height: 100%;
  width: 100%;
  /* border-radius: 20%; */
  padding: 3px;
  // background: #55574f;
}

#exp-sec .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border-radius: 20%; */
  /* border: 3px wheat #fff; */
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: black;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}



.card .button-slide {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button-slide i {
  background: #55574f;
  outline: none;
  border: none;
  color: #fff;
  padding: 6px 17px;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    padding: 8px 20px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: white;
  transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #55574f;
}


.services-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7rem;
}

.services-cont:before {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background: url(/images/Background.jpg)no-repeat center center/cover;
}