* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  // color: black;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  overflow-x: hidden;
}

.btn-nav {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 8px;
  color: rgb(55, 55, 53);
  transition: 0.1s;
  background: linear-gradient(#cac8ad, #ffffff);

  cursor: pointer;

  &:hover {
    padding: 1.1rem 2.1rem;
  }
}

.navbar {
  z-index: 55;
  position: fixed;
  top: 0;
  display: flex;
  height: 6rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color: white;
  transition: all 0.3s ease-in-out;
}

#logo {
  z-index: 2;
}

.img-logo {
  height: 4rem;
  z-index: 2;
}

.dropdown-trip {
  position: relative;
  top: 1rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.dropdown-content {
  display: none;
  transition: all 0.3s ease-in-out;
  position: absolute;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;

  a {
    color: rgb(55, 55, 53);
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #ddd;
    }
  }
}

.dropdown-trip:hover .dropdown-content {
  display: block;
}


.nav-items {
  z-index: 2;
  display: flex;
  transition: all 0.2s ease-in-out;
  gap: 2.5rem;


  a {
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    font-size: 0.9rem;
    color: rgb(55, 55, 53);

    &:hover {
      color: rgb(210, 154, 51);
    }
  }
}


header {
  height: 100vh;
  position: relative;
  // background-color: black;
  z-index: 4;
}

// header::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0.9;
//   z-index: 2;
//   // background: url(/images/Background.jpg)no-repeat center center/ cover;
// }

.towers {
  width: 95%;
  height: 10rem;
  background: url(/images/Skyline.svg)no-repeat center center/cover;
  color: black;
  z-index: 3;
}

.p-cont {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 1.5rem;
  }
}

.p-e {
  direction: ltr;
  text-align: left;
  width: 50%;
}

.p-a {
  direction: rtl;
  text-align: right;
  width: 50%;
}

.plane {
  width: 40%;
  height: 13rem;
  background: url(/images/Plane.svg)no-repeat center center/cover;
  z-index: 3;
  position: relative;
  top: 5rem;
}

#home {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;

  .txt-c {
    font-size: 2rem;
    z-index: 2;
    text-align: center;
    position: relative;
    margin: 1rem;
    color: rgb(70, 45, 11);
  }

  a {
    z-index: 2;
    background-color: tan;
    color: black;
    height: 3rem;
    width: 7rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 2rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      padding: 0.3rem;
    }
  }

}


.new-nav {
  height: 4.5rem;
  background: linear-gradient(#ffffff, #e6e3d0);
  z-index: 1500000000;

  .img-logo {
    height: 3rem;
  }

  a {
    font-size: 0.8rem;
  }

  .trip-btn {
    position: relative;
    bottom: 0.15rem;
  }
}

main {
  h1 {
    color: white;
    font-size: 1.1rem;
  }

  p {
    text-align: center;
    font-size: 0.5rem;
  }

  a {
    font-size: 0.7rem;
    color: black;
    background-color: rgba(219, 201, 141, 0.623);
    padding: 0.5rem 1.2rem;
    margin-left: 0.2rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
      font-size: 0.8rem;
    }
  }
}


.text-cont h1 {
  color: black;
  font-size: 3rem;
  padding: 2rem;
}

.text-cont p {
  color: black;
  font-size: 0.9rem;
  padding: 2rem;
  text-align: left;
}

.img-2 {
  height: 14.5rem;
  width: 19rem;
  padding: 1rem;
}

.img-3 {
  height: 14.8rem;
  width: 19rem;
  padding: 1rem;
  position: relative;
  right: 1.1rem;
}

.footer {
  background: url(/images/we-fly-cheaper-and-faster-because-of-wind.jpeg) no-repeat center center/cover;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: table;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 330px;
  width: 100%;
  z-index: 3;

  i {
    font-size: 2rem;
    padding: 1rem;
  }

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 42, 11, 0.6);
}

.foot {
  position: relative;
  text-align: center;
  color: #f4f4f4;

  h3 {
    font-size: 1.6rem;
    margin: 0.2rem;
  }
}

.foot-nav {
  color: white;
  background-color: rgb(34, 29, 23);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 50vh;
  z-index: 2;
  position: relative;

  h1 {
    font-size: 2rem;
    padding: 1rem;
  }

  p {
    color: rgb(150, 150, 150);
    cursor: pointer;
    padding: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.foot-nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(/images/dotted-map.png)no-repeat center center/ cover;
}

.foot-nav-2 {
  background-color: black;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 3;
  height: 3rem;

  i {
    padding-left: 0.5rem;
  }
}

#section-about {
  position: relative;
  width: 100%;
}

.height {
  height: 100vh;
}

.height-100vh {
  height: 100vh;
}

#section-about::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: url(/images/Background.jpg)no-repeat center center/cover;
  position: fixed;
}

.cont-pos {
  position: absolute;
  left: 50%;
  top: 50%;
}

.cont-pos-2 {
  position: absolute;
  top: 50%;
  left: 50%;
}

.container {
  transform: translate(-50%, -50%);
  width: 450px;
  height: 300px;
  padding: 50px;
  z-index: 3;
  // background-color: #f5f5f5;
  // box-shadow: 0 30px 50px #dbdbdb;
}

.display-none {
  display: none;
  opacity: 0;
  height: 0;
  width: 0;
}

.top-50 {
  top: 50%;
}

.top {
  top: 30%;
}

#slide {
  width: max-content;
  margin-top: 50px;
}

.item {
  width: 150px;
  height: 250px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  // box-shadow: 0 30px 50px #505050;
}

.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 20px;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.item:nth-child(3) {
  right: 100%;
  margin: 1rem;
  width: 50%;
}

.item:nth-child(3) {
  left: 100%;
  margin: 1rem;
  width: 50%;
}

.item:nth-child(4) {
  right: 100%;
  margin: 1rem;
  width: 50%;
  // opacity: 1;
}

.item:nth-child(5) {
  right: 100%;
  margin: 1rem;
  width: 50%;
  opacity: 1;
}

.item:nth-child(n+6) {
  right: 100%;
  margin: 1rem;
  width: 50%;
  opacity: 1;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #fff;
  transform: translate(0, -50%);
  display: none;
  font-family: system-ui;
}

.item:nth-child(2) .content {
  display: block;
  z-index: 11111;
}

.item .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards
}

.item .des {
  margin: 20px 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards
}

.item button {
  border-radius: 8px;
  color: white;
  background-color: black;
  padding: 0.8rem 2rem;
  border: none;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.6s 1 forwards
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

.buttons {
  position: absolute;
  bottom: 30px;
  z-index: 222222;
  text-align: center;
  width: 100%;
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
}

.buttons button:hover {
  background-color: #bac383;
}

.contact {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  position: relative;
}

.contact::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  background: url(/images/Background.jpg)no-repeat center center/cover;
}

.info-contact {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  // text-align: center;
  z-index: 2;

  .info-item-cont {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    align-items: center;

  }

  .info-item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    margin: 1rem;
    width: 50%;
    color: #505050;
    position: relative;
    top: 3rem;

    h4 {
      direction: ltr !important;
    }

    i {
      font-size: 1.5rem;
      // height: 3rem;
      margin: 1rem;
      text-align: center;
      color: rgb(101, 100, 84);
    }
  }
}

.num {
  display: flex;
  flex-direction: column;
}

.input-contact {
  display: flex;
  width: 40%;
  height: 60%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 2;

  .input-item {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;

    .message {
      height: 6rem;
    }

    label {
      display: flex;
      justify-content: flex-start;
      color: #505050;
      margin-top: 1.5rem;
    }

    input {
      width: 100%;
      height: 2rem;
    }

  }
}

.btn-contact {
  width: 70%;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  background-color: rgb(34, 29, 23);
  color: white;
  border: none;
  border-radius: 8px;
  transition: 0.1s;
  cursor: pointer;

  &:hover {
    padding: 1.1rem;
  }
}

.active {
  border-bottom: rgb(210, 154, 51) 4px solid;
  padding: 1rem;
  color: rgb(210, 154, 51);
}

#section-partners {
  // height: 100vh;

  h1 {
    font-size: 0.9rem;
  }
}

.info-partners {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .info-partner {
    margin: 2rem;
    height: 6rem;
    width: 11rem;
  }
}

.info-part-1 {
  display: flex;
}

.info-part-2 {
  display: flex;
}




#section-partners {
  height: 75vh;
  width: 100%;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;

  h1 {
    font-size: 2.5rem;
  }

  .line {
    height: 2px;
    width: 13rem;
    background-color: black;
    border-radius: 20px;
    margin: 2rem;
  }
}

#sec-about {
  height: 75vh;
  display: flex;
  align-items: end;
  justify-content: center;
  color: black;
  flex-direction: row;
}

.txt-about {
  max-width: 30rem;
  margin: 2rem;
  text-align: left;
  line-height: 1.5rem;
}

.btn-cont-offers {
  display: flex;
}

.design {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.splash {
  z-index: 99999999999999999999999999;
  background-color: black;
}

#it {
  height: 590vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(254, 255, 224, 0.405);

  .it-img {
    height: 20rem;
    width: 30rem;
    margin: auto;
    border-radius: 20px;
  }

  .it1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
  }

  .it-txt {
    color: black;
    margin-right: 3rem;
    margin-left: 3rem;
    margin: 1rem;
    text-align: center;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .it-head {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 700;

    span {
      color: rgb(210, 154, 51);
    }
  }
}