* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}


.navbar {
  z-index: 3;
  position: fixed;
  top: 0;
  display: flex;
  height: 7rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color: white;
  transition: all 0.3s ease-in-out;
}
#logo {
  z-index: 2;
}
.img-logo {
  height: 4.5rem;
  z-index: 2;
}
.dropdown-trip {
  position: relative;
  top: 1rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.dropdown-content {
  display: none;
  transition: all 0.3s ease-in-out;
  position: absolute;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  a {
    color: black;
    transition:  all 0.3s ease-in-out;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #ddd;
    }
  }
}
.dropdown-trip:hover .dropdown-content {
  display: block;
}
  

.nav-items {
  z-index: 2;
  display: flex;
  transition: all 0.2s ease-in-out;
  a {
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    &:hover {
      color: tan;
    }
  }
}
header {
  height: 100vh;
  position: relative;
  background-color: black;
}
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: url(/images/global-network-connection-world-map-point_41981-647.jpeg)no-repeat center center/ cover;
}
section {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    font-size: 4rem;
    z-index: 2;
  }
  a {
    z-index: 2;
    background-color: tan;
    color: black;
    height: 3rem;
    width: 7rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 2rem;
    transition: all 0.2s ease-in-out;
    &:hover {
      padding: 0.3rem;
    }
  }

}
.new-nav {
  height: 3.5rem;
  background-color: #ccc;
  .img-logo {
    height: 3rem;
  }
  a {
    font-size: 0.8rem;
  }
  .trip-btn {
    position: relative;
    bottom: 0.15rem;
  }
}
main {
  h1 {
    color: white;
    font-size: 1.1rem;
  }
  p {
    text-align: center;
    font-size: 0.5rem;
  }
  a {
    font-size: 0.7rem;
    color: black;
    background-color:rgba(219, 201, 141, 0.623) ;
    padding: 0.5rem 1.2rem;
    margin-left:0.2rem;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    &:hover {
      font-size: 0.8rem;
    }
  }
}
.grid-img {
  height: 1.5rem;
  width: 2rem;
  position: relative;
  transition:  all 0.2s ease-in-out;
  border-radius: 5px;
}
.grid-cont {
  background-color: black;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  height: 120vh;
  width: 100vw;
  display: grid;
  grid-gap:0.3rem;
  grid-template-areas: 
    'iraq iraq america emirates'
    'france germany yemen emirates'
    'france saudia yemen emirates'
    'algeria saudia egypt egypt'
        ;
        }
        .grid-nest {
          margin: 1rem;
        }
  .grid-nested {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
.grid-item {
  padding: 1rem;
  &:hover {
    cursor: pointer;
  }
  &:hover img {
    transform: scale(1.2);
  }
}
.yemen-grid {
  grid-area: yemen;
  position: relative;
}
.yemen-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background: url(/images/image-623.jpeg)no-repeat center center/ cover;
}
.iraq-grid {
  grid-area: iraq;
  position: relative;
}
.iraq-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background: url(/images/190429142008-christian-lindgren-iraq-vacation-15-full-169.jpeg)no-repeat center center/ cover;
}
.algeria-grid {
  grid-area: algeria;
  position: relative;
}
.algeria-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background: url(/images/1291_cover_20170409223836_en.jpeg)no-repeat center center/ cover;
}
.egypt-grid {
  grid-area: egypt;
  position: relative;
}
.egypt-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background: url(/images/istockphoto-1149887497-170667a.jpeg)no-repeat center center/ cover;
}
.emirates-grid {
  grid-area: emirates;
  position: relative;
}
.emirates-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background: url(/images/image.jpeg)no-repeat center center/ cover;
}
.saudia-grid {
  grid-area: saudia;
  position: relative;
}
.saudia-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background: url(/images/190926171023-saudi-arabia-elephant-rocks-full-169.jpeg)no-repeat center center/ cover;
}
.america-grid {
  grid-area: america;
  position: relative;
}
.america-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background: url(/images/download.jpeg)no-repeat center center/ cover;
}
.germany-grid {
  grid-area: germany;
  position: relative;
}
.germany-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background: url(/images/downloads.jpeg)no-repeat center center/ cover;
}
.france-grid {
  grid-area: france;
  position: relative;
}
.france-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  background: url(/images/france-paris-eiffel-tower.jpeg)no-repeat center center/ cover;
}
.section-about {
  height: 100vh;
}


    .line-1 {
      background-color: rgb(155, 0, 108);
      height: 3px;
      width: 150px;
      transition: all 0.5s ease-in-out;
      margin: auto;
    }
    .text-cont h1 {
      color: black;
      font-size: 3rem;
      padding: 2rem;
    }
    .text-cont p {
      color: black;
      font-size: 0.9rem;
      padding: 2rem;
      text-align: left;
    }
  
  .img-2 {
    height: 14.5rem;
    width: 19rem;
    padding: 1rem;
  }
  .img-3 {
    height: 14.8rem;
    width: 19rem;
    padding: 1rem;
    position: relative;
    right: 1.1rem;
  }
  .footer {
    background: url(/images/we-fly-cheaper-and-faster-because-of-wind.jpeg) no-repeat center center/cover;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: table;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 330px;
    width: 100%;
    i {
      font-size: 2rem;
      padding: 1rem;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(11, 11, 54, 0.7);
    }
  }
  .foot {
    position: relative;
    text-align: center;
    color: #f4f4f4;
    h3 {
      font-size: 1.6rem;
      margin: 0.2rem;
    }
  }
.foot-nav {
  color: white;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-around;
  height: 50vh;
  position: relative;
  h1 {
    font-size: 2rem;
    padding: 1rem;
  }
  p {
    color: rgb(150, 150, 150);
    cursor: pointer;
    padding: 0.5rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
.foot-nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(/images/dotted-map.png)no-repeat center center/ cover;
}
.foot-nav-2 {
  background-color: black;
  display: flex;
  justify-content: space-around;
  height: 3rem;
  i {
    padding-left: 0.5rem;
  }
}
.section-about {
  display: grid;
  grid-template-columns: 50% 50%;
  img {
    height: 14rem;
    width: 25rem;
    padding: 1rem;
    border-radius: 30px;
  }
}
.pic-cont {
  display: flex;
  flex-direction: column;
}